/* General Styles */
body {
  margin: 0;
  padding: 0;
  background-color: #020202;
  color: #333;
}

/* Header Styles */
header {
  background: linear-gradient(135deg, #2c3e50, #1a1a1a);
  color: #fff;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
}

/* Main Content Styles */
main {
  padding: 20px;
}

.hold-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url("../images/sky.png");
  background-size: cover;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 18rem;
  padding: 20px 1px;
  margin: 10px 0;
  text-align: center;
  position: relative;
  cursor: pointer;
  box-shadow: 0 10px 15px -3px rgba(33, 150, 243, 0.4),
    0 4px 6px -4px rgba(33, 150, 243, 0.4);
  border-radius: 10px;
  background-color: #6b6ecc;
  background: linear-gradient(45deg, #04051dea 0%, #2b566e 100%);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 20px -5px rgba(155, 191, 222, 0.6),
    0 6px 10px -5px rgba(33, 150, 243, 0.6);
}

.content {
  padding: 20px;
  width: 100%; /* Ensure content takes full width */
}

.content .year {
  color: white;
  font-weight: 800;
  font-size: 4rem;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.42);
  transition: color 0.3s ease;
}

.card:hover .year {
  color: #e67e22;
}

.content .description {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 10px;
  font-size: 14px;
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.content .description img.team-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.card:hover .description img.team-photo {
  transform: scale(1.1);
}

.content .title {
  font-weight: 800;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.64);
  margin-top: 10px;
  font-size: 3rem;
  letter-spacing: 1px;
  transition: color 0.3s ease;
}

.card:hover .title {
  color: #ffffff;
}

a {
  text-decoration: none;
}
