# Neon PostgreSQL Connection String (PgBouncer Pooler)
DATABASE_URL=postgresql://user:password@host-pooler.region.aws.neon.tech/neondb?sslmode=require&channel_binding=require
NEXT_PUBLIC_DATABASE_URL=postgresql://user:password@host-pooler.region.aws.neon.tech/neondb?sslmode=require&channel_binding=require
